@use '../../styles/variables' as *;

.forecastDay {
	position: relative;
	padding: 8px;
	width: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
	&Active {
		background-color: $dayColorActive;
	}
	&Date {
		font-weight: 300;
		text-align: center;
		font-size: 10px;
	}
	&Hour {
		margin-bottom: 6px;
		margin-top: 3px;
		font-size: 13px;
		font-weight: 500;
	}
	&Icon {
		margin-top: -8px;
		margin-bottom: -4px;
		height: 50px;
		aspect-ratio: 1;
	}
	&Temp {
		margin-bottom: 3px;
		font-size: 16px;
		font-weight: 300;
	}
	.icon {
		font-size: 14px;
	}
	&:hover {
		background-color: $dayColorHover;
	}
}

@media (min-width: 576px) {
	.forecastDay {
		width: 82px;
		&Date {
			font-size: 12px;
		}
		&Hour {
			font-size: 16px;
		}
		&Icon {
			margin-top: -10px;
			margin-bottom: -8px;
			height: 55px;
		}
		&Temp {
			font-size: 18px;
		}
		.icon {
			font-size: 18px;
		}
	}
}
