@use '../../styles/variables' as *;

.map {
	position: relative;
	width: 100%;
	aspect-ratio: 0.846;
	background-size: cover;
	max-width: 650px;
	border-radius: 10px;
	box-shadow: 0 0 20px 15px $windowColor inset;
	.loading {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: $shadowColor;
		box-shadow: 0 0 20px 15px $shadowColor inset;
	}
	.city {
		position: absolute;
		width: 12.5%;
		height: 12.5%;
		animation: entry 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		img {
			width: 100%;
			aspect-ratio: 1;
		}
		.temp {
			position: absolute;
			top: 27.5%;
			left: 87.5%;
			padding: 2px 4px;
			max-width: min-content;
			text-align: center;
			font-size: 14px;
			color: $dirtyWhiteColor;
			background-color: $primaryColorAlpha;
			border-radius: 2px;
		}
		&Name {
			position: absolute;
			left: 62.5%;
			top: 67.5%;
			transform: translate(-50%);
			padding: 2px 4px;
			border-radius: 2px;
			font-size: 11px;
			text-align: center;
			line-height: 11px;
			background-color: $dirtyWhiteColorAlpha;
			text-transform: uppercase;
			color: $primaryColorDark;
			cursor: pointer;
			transition: background-color 0.3s;
			&:hover {
				background-color: $dirtyWhiteColor;
			}
		}
	}
	.Bialystok {
		top: 32.5%;
		left: 75%;
	}
	.Lublin {
		top: 55%;
		left: 75%;
	}
	.Rzeszow {
		top: 70%;
		left: 70%;
	}
	.Krakow {
		top: 70%;
		left: 52.5%;
	}
	.Katowice {
		top: 65%;
		left: 38%;
	}
	.Wroclaw {
		top: 57.5%;
		left: 22.5%;
	}
	.ZielonaGora {
		top: 45%;
		left: 12.5%;
	}
	.Szczecin {
		top: 30%;
		left: 7.5%;
	}
	.Gdansk {
		top: 18.5%;
		left: 37.5%;
	}
	.Olsztyn {
		top: 25%;
		left: 57.5%;
	}
	.Warsaw {
		top: 42.5%;
		left: 62.5%;
	}
	.Kielce {
		top: 60%;
		left: 57.5%;
	}
	.Lodz {
		top: 50%;
		left: 47.5%;
	}
	.Poznan {
		top: 43.5%;
		left: 28.5%;
	}
	.Bydgoszcz {
		top: 32.5%;
		left: 37.5%;
	}
}

@media (min-width: 576px) {
	.map {
		width: 80%;
		.city {
			.temp {
				font-size: 16px;
				border-radius: 4px;
			}
			&Name {
				border-radius: 4px;
				font-size: 12px;
				line-height: 14px;
				letter-spacing: 0.5px;
			}
		}
	}
}

@media (min-width: 768px) {
	.map {
		width: 65%;
	}
}

@keyframes entry {
	from {
		opacity: 0;
		transform: translateY(-20%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
